* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.header {
  background: rgb(233, 30, 99);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7.5rem;
  height: 5rem;
  margin-bottom: 5rem;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
}

nav li a {
  text-decoration: none;
  padding: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
  color: black;
}

nav li a.active-link {
  color: white;
}

section {
  padding: 0 7.5rem;
}

section.container {
  display: flex;
  justify-content: space-between;
}

section p {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

section.quote {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

section.quote p {
  width: 80%;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 5rem;
}

.cont {
  width: 50rem;
  height: 30rem;
}

.cont input {
  width: 100%;
  text-align: right;
  padding: 1.2rem 0.4rem;
  border: none;
  background: #838592;
  color: white;
  font-size: 2rem;
}

.cont input:focus {
  outline: none;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  background: #e0e0e0;
}

table button {
  width: 100%;
  height: 100%;
  border: none;
  background: inherit;
  font-size: 1.1rem;
  color: #000;
  cursor: pointer;
}

table td {
  border-collapse: collapse;
  border: #c0c0c0 2px solid;
  height: 4rem;
  width: 25%;
}

table .end {
  background: #f5913e;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
